* text=auto
*.md text eol=lf
*.csv text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.ps1 text eol=crlf
*.pdf binary
*.docx binary
*.pptx binary
*.xlsx binary
*.tif binary
*.tiff binary
*.png binary
*.jpg binary
*.jpeg binary
